<style>
</style>

<%# Import the jQuery JavaScript library and the jQuery 3Dot Context Menu plugin’s information into the online web page. %>
<script src="https://code.jquery.com/jquery-1.12.4.min.js">
</script>
<script src="context-menu.js"></script>
<link href="context-menu.css" rel="stylesheet">

<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <%= render partial: 'pages/header', locals: {
            icon: 'home',
            breadcrumb_1: 'Dashboards',
            breadcrumb_2: 'Default'
      } %>
      <%= render 'pages/dashboard/metrics_summary', avg_sleep_week: !@last_week_average_sleep.nil? ? @last_week_average_sleep : 0,
          avg_sleep_month: !@last_month_average_sleep.nil? ? @last_month_average_sleep : 0,
          avg_steps_week: !@last_week_average_steps.nil? ? @last_week_average_steps : 0,
          avg_steps_month: !@last_month_average_steps.nil? ? @last_month_average_steps : 0%>
    </div>
  </div>
</div>
<div class="container-fluid mt--6">
  <% #<div class="row"> %>
    <div class="row">
   
    <%# <% puts @response%>
      <%# <% if @is_physician %> 
          <%= render 'pages/dashboard/charts/timeline', user_data: @response%>
      <%# <% end %> 
   
    </div>
    <div class="row">
       <%= render 'pages/dashboard/charts/bar', user_data: @response %> 
    </div>
  <% #</div> %>
  <%# <div class="row"> %>
    <div class="row">
      <%= render 'pages/dashboard/charts/progression', user_data: @response %>
    </div>
    
  <% #</div> %>

  <%# Weight Chart %>
  <div class="row">
    <div class="col" background-color="white">
     <% @weight_data = !@daily_weight.nil? ? @daily_weight: []
      %>
        <%= render 'pages/dashboard/charts/weight', user_weight:@weight_data %>
    </div>
  </div>

<%# Data Table - User Events %>
       <%# <% if user_data.length() != 0  %>
        <%# @response.each { |v| puts ""} %>
    <div class="row">
      <div class="col" background-color="white">
      <% @data_table = !@response.nil? ? @response: []
        %>
          <%= render 'pages/dashboard/tables/data_table', user_data_table:@data_table %>
      </div>
  </div> 

<%# Footer %>
  <%= render 'pages/footer' %>

<script>

</script>