<%# Import the jQuery JavaScript library and the jQuery 3Dot Context Menu plugin’s information into the online web page. %>
<%# <script src="https://code.jquery.com/jquery-1.12.4.min.js">
</script>
<script src="context-menu.js"></script>
<link href="context-menu.css" rel="stylesheet"> %>
<div class="header-margin">
<div class="header-info">
  <h1>Dashboard</h1>
  <p><b>Summarizes and displays some of the most important daily health metrics. The user’s average sleep, calorie consumption and expenditure, steps, and performance give a window into what daily habits are being implemented over the course of the last month. Activity logs are displayed in a timeline chart, activity summary indicated number of hours spent in a certain activity are displayed using a bar chart, and total time spend doing individual activities per week are displayed using a bar chart. Fluctuations in weight are noted, and an interactive user events table where users can edit start and end times or delete events is accessible.  </b></p>
</div>
</div>

<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <%= render partial: 'pages/header', locals: {
            icon: 'home',
            breadcrumb_1: 'Dashboards',
            breadcrumb_2: 'Default'
      } %>
      <%= render 'pages/dashboard/metrics_summary', avg_sleep_week: !@last_week_average_sleep.nil? ? @last_week_average_sleep : 0,
          avg_sleep_month: !@last_month_average_sleep.nil? ? @last_month_average_sleep : 0,
          avg_steps_week: !@last_week_average_steps.nil? ? @last_week_average_steps : 0,
          avg_steps_month: !@last_month_average_steps.nil? ? @last_month_average_steps : 0%>
    </div>
  </div>
</div>
<div class="container-fluid mt--6">
  <% #<div class="row"> %>
    <div class="row">
   
    <%# <% puts @response%>
      <%# <% if @is_physician %> 
          <%= render 'pages/dashboard/charts/timeline', user_data: @response%>
      <%# <% end %> 
   
    </div>
    <div class="row">
       <%= render 'pages/dashboard/charts/bar', user_data: @response %> 
    </div>
  <% #</div> %>
  <%# <div class="row"> %>
    <div class="row">
      <%= render 'pages/dashboard/charts/progression', user_data: @response %>
    </div>
    
  <% #</div> %>

  <%# Weight Chart %>
  <div class="row">
    <div class="col" background-color="white">
     <% @weight_data = !@daily_weight.nil? ? @daily_weight: []
      %>
        <%= render 'pages/dashboard/charts/weight', user_weight:@weight_data %>
    </div>
  </div>

<%# Data Table - User Events %>
       <%# <% if user_data.length() != 0  %>
        <%# @response.each { |v| puts ""} %>
    <div class="row">
    <div class="col" background-color="white">
     <% @data_table = !@response.nil? ? @response: []
      %>
        <%= render 'pages/dashboard/tables/data_table', user_data_table:@response %>
    </div>
  </div> 

<%# Footer %>
  <%= render 'pages/footer' %>

<script>

</script>