
<% content_for(:topnav_bg) { 'bg-default' } %>

<div class="main-content" id="panel">
  

  <!-- Page content -->
  <div class="container-fluid mt--6">

  <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Select Patient
  </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
     <%= form_with url: pages_dashboard_physician_get_user_data_path, local: true, method: :post do  %>
     <% if  local_assigns.has_key? :physician %>
        <% physician.users.each do |u|%>
           <button class="dropdown-item" type="submit" name="data_for_user" value=<%=u.user_id%>> <%=u.name%>, <%=u.email%> </button> 
        <% end %>
      <% else %>
         <% @physician.users.each do |u|%>
           <button class="dropdown-item" type="submit" name="data_for_user" value=<%=u.user_id%>> <%=u.name%>, <%=u.email%> </button> 
        <% end %>
    <% end %>
       
    <%end%>
   
    </div>
</div>
       <% if  local_assigns.has_key? :user_data %>
      <div class="row mt-5">
        <div class="col-xl-4 order-xl-1">
          <%= render 'pages/profile/physician_user', user_id: user_id %>
        </div>
        <div class="col-xl-8 order-xl-2">
           <%= render 'pages/dashboard/metrics_summary', avg_sleep_week:  0,
          avg_sleep_month: 0%>
        </div>
      </div>

      <div class="row mt-5">
  
            <div class="col-xl-12 order-xl-2">
              <%= render 'pages/dashboard/charts/physician', user_events: user_events, daily_step_summary: daily_step_summary, weekly_step_summary: weekly_step_summary, user_data: user_data , weekly_sleep_summary: weekly_sleep_summary, daily_sleep_summary: daily_sleep_summary %>
             </div> 
            <%# <div id="actions">
                <div>
                    <label><input type="radio" name="chart" value="today" checked="checked"/>Daily</label>
                    <label><input type="radio" name="chart" value="week"  />Weekly</label>
                </div>
            </div> %>
<%# 
            <div id="charts">
                <div id="today" class="chart">Daily Chart</div>
                <div id="week"  class="chart hidden">Weekly Chart</div>
            </div> %>
          
      </div>
        <% end %>
    <%# <%= render 'pages/footer' %> 
  </div>
