<% if !@questions.empty? %>
<h1 class="ml-3 mb-3">
    Questionnaire
</h1>
<style>
</style>

<%= form_with url: pages_dashboard_physician_questions_path , id: "physician_response_form", multipart: true, method: :post do  %>

<div class="accordion mt-2" id="accordionExample">
    <div class="overlay d-flex justify-content-center align-items-center  text-center">
  <div class="">  
    <div class="spinner-grow text-primary" id="spinner-questionnaire" role="status" style="width: 3rem; height: 3rem; z-index: 20;">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
    <% @questions.each do |key,value|%>
        <%id = key[1].gsub(/\s+/, "")+key[0]%> 
        <%# unique id for each accordion %>
        <div class="card">
            <div class="card-header bg-white" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#<%= id %>" aria-expanded="false" aria-controls="collapseOne">
                    <%= key[1]%> Questions
                    </button>
                </h2>
            </div>
           
            <div id="<%= id %>" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <% value['questions'].each do |q|%>
                        <%# <%= puts q['response_type']=='image' %> 
                    <ul>
                        <li class="<%=q['question'] %>">
                        <p><%=q['question']%></p>
                         <% if q['response_type'] == 'image' %>
                            <div> 
                                <fieldset class="my-2">
                                   
                                    <%= file_field_tag :picture , :multiple => true, name: "#{key[0] + ' ' + q['tag'] + ' ' + 'image'}[]" %>
                                </fieldset>
                            </div>    
                         <% elsif q['response_type'] == 'string' %>
                         <div>
                            <fieldset class="my-2">
                                <input class="" type="text" name="<%=key[0]%> <%=q['tag']%> string" >
                            </fieldset>
                            </div>
                         <%# user_questionnaire %>
                         <% elsif q['response_type'] == 'numeric' %>
                            <div>
                            <fieldset class="my-2">
                                <input class="" type="number" name="<%=key[0]%> <%=q['tag']%> numeric" >
                            </fieldset>
                            </div>
                         
                         <% else %>
                             <% q['options'].each do |option|%>
                                
                                    <div class="form-check" id ="<%=q['tag'] %>">
                                       
                                        <input class="form-check-input" type="radio" name="<%=key[0]%> <%=q['tag']%> survey" value="<%=option%>">
                                        <label class="form-check-label" for="<%=q['tag']%> % ">
                                            <%= option %>
                                        </label>
                                    </div>
                            
                            <% end %>

                         <% end%>
                           
                             <textarea class="form-control col-md-6" id="exampleFormControlTextarea1"  placeholder="Additional response (Optional)" rows="1"></textarea> 
                        </li>
                    </ul>
                    
                    <% end %>
                   <button type="submit" id='submit-responses' class="btn btn-primary ml-4 mt-2">Respond</button>
                </div>
            </div>
        </div>
    <% end %>
</div>
<% end %>

<% end %>
<script type="text/javascript">

$('#physician_response_form').on('submit', function() {
   document.getElementById('spinner-questionnaire').style.display = 'block';
   document.getElementById('submit-responses').disabled = true;
});
   document.getElementById('spinner-questionnaire').style.display = 'none';

</script>