<%# CSS and JavaScript for Pagination %>
 <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>  


<%#  %>
<%# Data Table - User Events %>
  <%= form_with url: delete_user_events_path, local: true, method: :post do |form| %> 
  <div class="card">
  <div class="card-header border-0">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="mb-0">User Events</h3>
      </div>
      <div class="col text-right">
        <button type="submit" class="btn btn-sm btn-primary">Delete Selected</button>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <!-- Data Table -->
   
    <table id="delete-table" class="table align-items-center table-flush">
      <thead class="thead-light">
        <tr>
          <th><input type="checkbox" class="form-check-input" name="select-all" id="select-all" value="select-all_value" /></th>
          <th scope="col">Event ID</th>
          <th scope="col">Start Time</th>
          <th scope="col">End Time</th>
          <th scope="col">Source</th>
          <th scope="col">Event Name</th>
          <th scope="col">List of Parameters</th>
        </tr>
      </thead>
      <tbody>
    
    
     <% if !@response.empty? %>
        <div class="accordion mt-2" id="accordionExample">
            <% @response.each do |record|%>
        <tr id="<%=record['unique_event_id']%>" class="tableRow">
          <th scope="row">
            <input type="checkbox" id="<%=record['unique_event_id']%>" value="<%=record['unique_event_id']%>" class="form-check-input" name="selected_events[]" value="select-all" />
          </th>
          <td scope="row" class="context-menu" data-container-id="context-menu-items">
            <%=record['unique_event_id']%>
          </td>
          <td id="second">
            <%=record['start_time']%>
          </td>
          <td>
            <div class="d-flex align-items-center">
              <span class="mr-2"><%=record['end_time']%></span>
            </div>
          </td>
          <td scope="row" class="context-menu" data-container-id="context-menu-items">
          <%=record['source']%>
          </td>
          <td scope="row" class="context-menu" data-container-id="context-menu-items">
          <%=record['event_name']%>
          </td>
          <td scope="row">
            <a tabindex="0" role="button"  data-toggle="popover" data-animation="true" data-trigger="hover click" title="Parameters" data-content="Duration: <%=record['parameters'].duration%> Source Device: <%=record['parameters'].source_device.packageName if !record['parameters'].source_device.nil? %> Version: <%=record['parameters'].source_device.version if !record['parameters'].source_device.nil? %>  Details URL: <%=record['parameters'].source_device.detailsUrl if !record['parameters'].source_device.nil?%>  ">See Details</a>
          </td>
        </tr>
        <% end %> 
      <% end %>
      </tbody>
      
    </table>
    <%# <%= form.submit "Search" %> 
<% end %>
  </div>
</div>

<script language="JavaScript">

// Select All CheckBoxes
$('#select-all').click(function(event) {   
    if(this.checked) {
        // Iterate each checkbox
        $(':checkbox').each(function() {
            this.checked = true;                        
        });
    } else {
        $(':checkbox').each(function() {
            this.checked = false;                       
        });
    }
}); 

//  Delete Row 
$("#delete-button").on("click", function(e) {
  $("#delete-table tr:has(td > input[type=checkbox]:checked)").remove();
});

// Prevent Page Refresh When Click Element Parameters In Table
// $( "a" ).click(function( event ) {
//   event.preventDefault();
//   $( "<div>" )
//     .append( "default " + event.type + " prevented" )
//     .appendTo( "#log" );
// });

// Handle Select
// function handleSelect(source) {
//   console.log($(source).attr('id'))
//   if(document.getElementById($(source).attr('id')).checked) {
//       console.log("Adding event id" + $(source).attr('id'))
//       eventIDs.push($(source).attr('id').replace("row-check-",""))
//    } else {
//       console.log("Removing event id" + $(source).attr('id'))
//       eventIDs = eventIDs.filter(function(value, index, arr){return value != $(source).attr('id').replace("row-check-","")
// ;});
//    }

// }

// Pop-Up Box for Parameters
$(document).ready(function(){
  $('[data-toggle="popover"]').popover();
});
$('.popover-dismiss').popover({
  trigger: 'focus'
})

// Pagination Table
$(document).ready( function () {
    $('#delete-table').DataTable();
} );

</script>