<%# <% if session[:oktastate].nil? %> 

<% content_for(:title) { 'Welcome to Personicle!' } %>
<% content_for(:subtitle) { "Personicle is a person centric healthcare and lifestyle data platform"} %>

<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary border-0 mb-0">
        <div class="card-header bg-transparent pb-5">
        
          <div class="text-muted text-center mt-2 mb-3"><small>Sign in with</small></div>
          <div class="btn-wrapper text-center">
            <%# <a class="btn btn-neutral btn-icon">
              <span class="btn-inner--icon"><%= image_tag 'icons/common/okta.png' %></span>
             <%# <span class="btn-inner--text">Okta</span> %>
            <%# </a>  %>
            <%= link_to  user_google_oauth2_omniauth_authorize_path, method: :post, :class => "btn btn-neutral btn-icon" do %>
              
             <span class="btn-inner--icon"><%= image_tag 'icons/common/google.svg' %></span>
             <span class="btn-inner--text">Google</span>
            <% end %>

            <%= link_to  user_oktaoauth_omniauth_authorize_path, method: :post, :class => "btn btn-neutral btn-icon" do %>
             <%# <span class="btn-inner--icon"><%= image_tag 'icons/common/google.svg' %></span>
              <%# <%= puts session[:oktastate] %> 
             <span class="btn-inner--text">Sign in with email</span>
            <% end %>
            
            <%# <%= link_to  user_oktaoauth_omniauth_authorize_path(:login_type => "physician"), method: :post, :class => "btn btn-neutral btn-icon mt-2" do %>
             <%# <span class="btn-inner--icon"><%= image_tag 'icons/common/google.svg' %></span>
              <%# <%= puts session[:oktastate] %> 
             <%# <span class="btn-inner--text">Physician sign in </span>
            <% end %> 
           <%# <%= link_to user_oktaoauth_omniauth_authorize_path, method: :post, :class => "btn btn-neutral btn-icon" do %>
             <%# <span class="btn-inner--icon"><%= image_tag 'icons/common/google.svg' %></span>
            <%# user_oktaoauth_physician_omniauth_callback %>
             <%# <span class="btn-inner--text">Physician login</span>
            <% end %> 
            <%# Add google idp here %>
            <%# <a  class="btn btn-neutral btn-icon">
              <span class="btn-inner--icon"><%= image_tag 'icons/common/google.svg' %></span>
              <%# <span class="btn-inner--text">Google</span>
            </a>  %>
               <%# <%= react_component("HelloWorld", { greeting: "Hello from react-rails." }) %> 
          </div>
        </div>
        <%# <div class="card-body px-lg-5 py-lg-5">  %>
          <%# <div class="text-center text-muted mb-4">
            <h3>Create a physician account </h3>
          </div>  %>
          <%# <form role="form" method="post" action=<%= pages_physician_create_account_path %>
            <%# <%= form_with url: pages_create_physician_account_path , local: true, method: :post do  %>
             <%# <div class="form-group mb-3">
              <div class="input-group input-group-merge input-group-alternative"> %> 
                <%# <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div> %>
<%#                 
                <input class="form-control"  name="first_name" placeholder="First Name"  required>
              </div>
            </div>
             <div class="form-group mb-3">
              <div class="input-group input-group-merge input-group-alternative"> %>
                <%# <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div> %>
                
                <%# <input class="form-control"  name="last_name" placeholder="Last Name"  required>
              </div>
            </div>
            <div class="form-group mb-3">
              <div class="input-group input-group-merge input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div> %>
<%#                 
                <input class="form-control"  name="email" placeholder="Email" type="email" required>
              </div>
            </div> %>
           
            <%# <div class="form-group">
              <div class="input-group input-group-merge input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input class="form-control" placeholder="Password" type="password">
              </div>
            </div> %>
            <%# <div class="custom-control custom-control-alternative custom-checkbox">
              <input class="custom-control-input" id=" customCheckLogin" type="checkbox">
              <label class="custom-control-label" for=" customCheckLogin">
                <span class="text-muted">Remember me</span>
              </label>
            </div> %>
            <%# <div class="text-center">
              <button type="submit" class="btn btn-primary my-4">Create physician account</button>
            </div>
          <% end %> 
          <%# </form>  %>
        <%# </div> %>
      </div>
      <div class="row mt-3">
        <div class="col-6">
          <a href="https://dev-01936861.okta.com/signin/forgot-password" class="text-light"><small>Forgot password?</small></a>
        </div>
        <div class="col-6 text-right">
          <%= link_to  user_oktaoauth_omniauth_authorize_path, method: :post, :class => "text-light" do %>
          <small>Create new account</small>
          <% end %>
         
      </div>
    </div>
  </div>
</div>
<%# <% end %> 