<style>
.hidden {
    display: none;
}
.tab {
  float: left;
}

</style>
<div class="card">
  <div class="card-header">
    Current Vitals
  </div>
  <div class="row">
    <div class="card-body col-sm-4">
      <h5 class="card-title text-center">Avg 24 Hours Heart Rate</h5>
      <p class="card-text text-center"> <%= avg_24_hour_hr %></p>
 
    </div>
    <div class="card-body col-sm-4">
      <h5 class="card-title text-center">Min 2 Weeks Heart Rate</h5>
      <p class="card-text text-center"><%= last_two_weeks_min_hr %></p>
 
    </div>
    <div class="card-body col-sm-4">
      <h5 class="card-title text-center">Max 2 Weeks Heart Rate</h5>
      <p class="card-text text-center"><%= last_two_weeks_max_hr %> </p>
    </div>
  </div>
</div>
 <div id="chart_type" class="btn-group-vertical btn-group-toggle tab mr-1" data-toggle="buttons">
              <label class="btn btn-secondary">
                <input type="radio" name="charttype" value="sleep_chart" checked> Sleep
              </label>
              <label class="btn btn-secondary">
                <input type="radio" name="charttype" value="activity_chart" > Activity
              </label>
              <% unique_question_tags.each do |tag| %>
                <label class="btn btn-secondary">
                  <input type="radio" name="charttype" value="<%=tag%>_chart"> <%=tag%>
                </label>
              <% end %>
  </div>

<div class="card mr-1" style="width:82%;height:600px">

  <div class="card-header bg-transparent">
    <div class="row align-items-center">
      <div class="col">
        <h6 class="text-black text-uppercase ls-1 mb-1">Overview</h6>
        <h5 class="h3 text-black mb-0">Lifestyle data and trends</h5>
      </div>
      <div class="col">

        <ul  class="nav nav-pills justify-content-end">
          <li class="nav-item mr-2 mr-md-0" value="daily" data-toggle="chart" data-target="#chart-sales-dark" data-update='{"data":{"datasets":[{"data":[0, 20, 10, 30, 15, 40, 20, 60, 60]}]}}' data-prefix="$" data-suffix="k">
          
           <div id="actions" class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary">
                  <input type="radio" name="chart" value="daily" checked> Daily
                </label>
                <label class="btn btn-secondary">
                  <input type="radio" name="chart" value="weekly" > Weekly
                </label>
            </div>
           
          </li>
          <li class="nav-item"  data-toggle="chart" data-target="#chart-sales-dark" data-update='{"data":{"datasets":[{"data":[0, 20, 5, 25, 10, 30, 15, 40, 40]}]}}' data-prefix="$" data-suffix="k">
          </li>
        </ul>
      </div>
    </div>
  </div>
    
  <div class="card-body">
  
    <!-- Chart -->
    <div class="chart">
        
      <div id="charts">
            <%= form_with url: pages_dashboard_physician_get_user_data_path, local: true, method: :post do  %>
                <input type="hidden" name="refresh" value="hard_refresh">
                <input type="hidden" name="data_for_user" value=<%= patient_id %>>
                <button  class="btn btn-primary" type="submit">Refresh</button>
              <% end %>
   

        <% if user_data.length() != 0 or user_events.length()!=0 or patient_responses.length() !=0%>
         <% 
           @numeric_responses =  patient_responses.filter {|rec| rec[0][3] == "numeric"}.group_by {|rec| rec[0][1]}

          
          # puts @numeric_responses
         %>
        <% unique_question_tags.each do |tag|%>
          <div id="<%=tag%>_chart_daily" class="chart hidden">
           <%
              @patient_responses=  patient_responses.filter {|rec| rec[0][0] == tag}.group_by {|rec| rec[0][1]}
              numeric_responses = []
              avg_numeric_responses=[]
              @numeric_responses_data = []
              show_numeric_chart = false
              show_image_chart = false

          
                 @data = []
                 @patient_responses.each do |k,v|

                  numeric_responses = v.filter {|r| r[0][3] == "numeric"}.group_by {|rec| rec[0][1]}
                  image_responses = v.filter {|r| r[0][3] == "image"}.group_by {|rec| rec[0][1]}
                  avg_numeric_responses = numeric_responses.map {|k,v|  [k, v.sum {|r| r[1] * r[0][2].to_i}/v.sum{ |r| r[1]}] }
                  if !avg_numeric_responses.empty?
                      avg_numeric_responses.each do |k,v|
                        @numeric_responses_data.push(
                          [k,v] 
                        )
                       end
                    show_numeric_chart = true
                  elsif !image_responses.empty?
                    show_image_chart = true 
                  else
                      v.each do |key,val|
                        @data.push({
                          name: key[2], data: [ [k,val] ]
                        })
                      end
                  end
                 end
           %> 
            
               <% if show_numeric_chart == true %> 
                <%# <% puts @numeric_responses_data %>
                <%# <% puts @data %> 

                <%= line_chart  @numeric_responses_data,points:false, title: tag, round: 2, loading: "Loading...",
                    xtitle: "", ytitle: ""
                  %>
                <% elsif show_image_chart == true%>
                  <%= react_component("ImageVisualization", {user_id: user_id, image_urls: image_urls, tag: tag, auth: session[:oktastate]['credentials']['token']}) %>
              <% else %> 
                <%# <% puts @data %>  
                  <%= column_chart  @data, title: tag, library: { isStacked: 'percent' },suffix: "",points:false, round: 2, loading: "Loading...", xtitle: "Date", ytitle: "Total Responses", stacked: true %>  
                <%end%>  
          </div>

          <div id="<%=tag%>_chart_weekly" class="chart hidden">
           <%
              @patient_responses=  patient_responses.filter {|rec| rec[0][0] == tag}.group_by {|rec| rec[0][1].strftime('%Y-%U')}
              @data = []
                 @patient_responses.each do |k,v|
                      v.each do |key,val|
                        @data.push({
                          name: key[2], data: [ [k,val] ]
                        })
                        
                      end
                 end
           %> 
           <%= column_chart  @data,   title: tag, library: { isStacked: 'percent' },suffix: "",points:false, round: 2, loading: "Loading...", xtitle: "Year - Week number", ytitle: "Total Responses", stacked: true %>
          </div>
        <%end%>
        <div id="activity_chart_daily" class="chart hidden">

            <%= column_chart [
                  {
                      name: "Daily Steps", type: "column", data: daily_step_summary
                  }
              ], suffix: " steps",points:false, round: 2, loading: "Loading...", xtitle: "Date", ytitle: "Total Steps" %> 
        </div>

        <div id="activity_chart_weekly" class="chart hidden">

            <%= column_chart [
                  {
                      name: "Weekly Steps", type: "column", data: weekly_step_summary
                  }
              ], suffix: " steps",points:false, round: 2, loading: "Loading...", xtitle: "Year - Week number", ytitle: "Total Steps" %>

        </div>

        <div id="sleep_chart_daily" class="chart">

            <%= column_chart [
                  {
                      name: "Daily Sleep", type: "column", data: daily_sleep_summary.map {|k,v| [k, v['duration']]} 
                  }
              ], suffix: " h",points:false, round: 2, loading: "Loading...", xtitle: "Date", ytitle: "Sleep Duration (hours)" %>

        </div>
          <div id="sleep_chart_weekly"  class="chart hidden">
                <%= column_chart [
                    {
                        name: "Weekly Sleep", type: "column", data: weekly_sleep_summary
                    }
                ], suffix: " h",points:false, round: 2, loading: "Loading...", xtitle: "Year - Week number", ytitle: "Sleep Duration (hours)" %> 
            
          </div>
      </div> 
          
      <%else%>
        <h3 style="color:black;">No activities for the past 3 months</h3>
      <%end%>
     
      <%# <canvas id="chart-sales-dark" class="chart-canvas"></canvas> %>
    </div>
        
  </div>
</div>
<script>

function revealChartType(event) {
    var chart_type = $(event.target).val(); 
    var chart = $('input[name="chart"]:checked').val();
    $('#charts .chart').hide(); 
    $('#' + chart_type +"_"+chart).show();  
}
$(function() {
    $('#chart_type input').click(revealChartType);
});

// to reveal daily or weekly chart
function revealChart(event) {
    var chart = $(event.target).val(); 
    var chart_type = $('input[name="charttype"]:checked').val();
    $('#charts .chart').hide(); 
    $('#' + chart_type +"_"+chart).show();  
}
$(function() {
    $('#actions input').click(revealChart);
});
</script>