
    <script src="https://kit.fontawesome.com/16923e284e.js" crossorigin="anonymous"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>
    

<div class="row">
  <div class="col-xl-4 col-md-6">
    <div class="card card-stats">
      <!-- Card body -->
      <div class="card-body">
        <div class="row">
          <div class="col">  
            <h5 class="card-title text-uppercase text-muted mb-0"><span class="hovertext" data-hover="The average sleep of the user over the course of the month. Indicates increase or decrease in sleep as compared to the previous month."><i class="fa fa-info-circle" aria-hidden="true"></i></span> Average sleep </h5>
            <%if avg_sleep_week == 0%>
            <%sleep_text = "No sleep events for past week"%>
            <%else%>
            <%sleep_text = "#{avg_sleep_week/60} h #{avg_sleep_week%60} m"%>
            <%end%>
            <span class="h2 font-weight-bold mb-0"><%=sleep_text%></span>
          </div>
          <div class="col-auto">
            <div class="icon icon-shape bg-blue text-white rounded-circle shadow">
              <!-- <i class="ni ni-active-40"></i> -->
              <i class="fa fa-bed"></i>
            </div>
          </div>
        </div>
        <p class="mt-3 mb-0 text-sm">
        
        <%if avg_sleep_month > avg_sleep_week%>
        <%percent_change = (avg_sleep_month>0)? 100*(avg_sleep_month - avg_sleep_week)/avg_sleep_month: 0%>
        <%arrow_direction = "fa-arrow-down"%>
        <%text_color = "text-warning"%>
        <%else%>
        <%percent_change = (avg_sleep_month>0)? 100*(avg_sleep_week - avg_sleep_month)/avg_sleep_month: 0%>
        <%arrow_direction = "fa-arrow-up"%>
        <%text_color = "text-success"%>
        <%end%>
        
          <span class="<%=text_color%> mr-2"><i class="<%="fa #{arrow_direction}"%>"></i> <%=number_with_precision(percent_change, precision:2)%>%</span>
        
          <span class="text-nowrap">Since last month</span>
        </p>
      </div>
    </div>
  </div>
    <div class="col-xl-3 col-md-6">

    <div class="card card-stats">
      <!-- Card body -->
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h5 class="card-title text-uppercase text-muted mb-0">Calories Burned</h5>
            <%if avg_calories_week == 0%>
            <%calories_text = "No calories data"%>
            <%else%>
            <%calories_text = "#{number_with_delimiter(avg_calories_week, :delimiter => ',')} calories per day"%>
            <%end%>
            <span class="h2 font-weight-bold mb-0"><%=calories_text%></span>
          </div>
          <div class="col-auto">
            <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
            <i class="fa fa-fire" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <p class="mt-3 mb-0 text-sm">
          <%if avg_calories_month > avg_calories_week%>
          <%calories_percent_change = (avg_calories_month>0)? 100*(avg_calories_month - avg_calories_week)/avg_calories_month: 0%>
          <%arrow_direction = "fa-arrow-down"%>
          <%text_color = "text-warning"%>
          <%else%>
          <%calories_percent_change = (avg_calories_month>0)? 100*(avg_calories_week - avg_calories_month)/avg_calories_month: 0%>
          <%arrow_direction = "fa-arrow-up"%>
          <%text_color = "text-success"%>
          <%end%>
        
          <span class="<%=text_color%> mr-2"><i class="<%="fa #{arrow_direction}"%>"></i> <%=number_with_precision(calories_percent_change, precision:2)%>%</span>
        
          <span class="text-nowrap">Since last month</span>
        </p>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-md-6">

    <div class="card card-stats">
      <!-- Card body -->
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h5 class="card-title text-uppercase text-muted mb-0"><span class="hovertext" data-hover="The number of steps over the past month performing physical activity. Indicates increase or decrease in steps as compared to the previous month."><i class="fa fa-info-circle" aria-hidden="true"></i></span> Walking </h5>
            <%if avg_steps_week == 0%>
            <%steps_text = "No steps data"%>
            <%else%>
            <%steps_text = "#{number_with_delimiter(avg_steps_week, :delimiter => ',')} steps per day"%>
            <%end%>
            <span class="h2 font-weight-bold mb-0"><%=steps_text%></span>
          </div>
          <div class="col-auto">
            <div class="icon icon-shape bg-gradient-gray text-white rounded-circle shadow">
              <iconify-icon icon="mdi:footprints" width="30px" height="30px"></iconify-icon>
            </div>
          </div>
        </div>
        <p class="mt-3 mb-0 text-sm">
          <%if avg_steps_month > avg_steps_week%>
          <%steps_percent_change = (avg_steps_month>0)? 100*(avg_steps_month - avg_steps_week)/avg_steps_month: 0%>
          <%arrow_direction = "fa-arrow-down"%>
          <%text_color = "text-warning"%>
          <%else%>
          <%steps_percent_change = (avg_steps_month>0)? 100*(avg_steps_week - avg_steps_month)/avg_steps_month: 0%>
          <%arrow_direction = "fa-arrow-up"%>
          <%text_color = "text-success"%>
          <%end%>
        
          <span class="<%=text_color%> mr-2"><i class="<%="fa #{arrow_direction}"%>"></i> <%=number_with_precision(steps_percent_change, precision:2)%>%</span>
        
          <span class="text-nowrap">Since last month</span>
        </p>
      </div>
    </div>
  </div>

 
</div>
