<div class="row">
  <div class="col-xl-3 col-md-6">
    <div class="card card-stats">
      <!-- Card body -->
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h5 class="card-title text-uppercase text-muted mb-0">Average sleep</h5>
            <%if avg_sleep_week == 0%>
            <%sleep_text = "No sleep events for past week"%>
            <%else%>
            <%sleep_text = "#{avg_sleep_week/60} h #{avg_sleep_week%60} m"%>
            <%end%>
            <span class="h2 font-weight-bold mb-0"><%=sleep_text%></span>
          </div>
          <div class="col-auto">
            <div class="icon icon-shape bg-blue text-white rounded-circle shadow">
              <!-- <i class="ni ni-active-40"></i> -->
              <i class="fa fa-bed"></i>
            </div>
          </div>
        </div>
        <p class="mt-3 mb-0 text-sm">
        
        <%if avg_sleep_month > avg_sleep_week%>
        <%percent_change = (avg_sleep_month>0)? 100*(avg_sleep_month - avg_sleep_week)/avg_sleep_month: 0%>
        <%arrow_direction = "fa-arrow-down"%>
        <%text_color = "text-warning"%>
        <%else%>
        <%percent_change = (avg_sleep_month>0)? 100*(avg_sleep_week - avg_sleep_month)/avg_sleep_month: 0%>
        <%arrow_direction = "fa-arrow-up"%>
        <%text_color = "text-success"%>
        <%end%>
        
          <span class="<%=text_color%> mr-2"><i class="<%="fa #{arrow_direction}"%>"></i> <%=percent_change%>%</span>
        
          <span class="text-nowrap">Since last month</span>
        </p>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6">
    <div class="card card-stats">
      <!-- Card body -->
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h5 class="card-title text-uppercase text-muted mb-0">Total Mobility</h5>
            <span class="h2 font-weight-bold mb-0">2,356</span>
          </div>
          <div class="col-auto">
            <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
              <i class="ni ni-chart-pie-35"></i>
            </div>
          </div>
        </div>
        <p class="mt-3 mb-0 text-sm">
          <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
          <span class="text-nowrap">Since last month</span>
        </p>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6">
    <div class="card card-stats">
      <!-- Card body -->
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h5 class="card-title text-uppercase text-muted mb-0">Walking</h5>
            <%if avg_steps_week == 0%>
            <%steps_text = "No steps data"%>
            <%else%>
            <%steps_text = "#{avg_steps_week} steps per day"%>
            <%end%>
            <span class="h2 font-weight-bold mb-0"><%=steps_text%></span>
          </div>
          <div class="col-auto">
            <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
              <i class="ni ni-money-coins"></i>
            </div>
          </div>
        </div>
        <p class="mt-3 mb-0 text-sm">
          <%if avg_steps_month > avg_steps_week%>
          <%steps_percent_change = (avg_steps_month>0)? 100*(avg_steps_month - avg_steps_week)/avg_steps_month: 0%>
          <%arrow_direction = "fa-arrow-down"%>
          <%text_color = "text-warning"%>
          <%else%>
          <%steps_percent_change = (avg_steps_month>0)? 100*(avg_steps_week - avg_steps_month)/avg_steps_month: 0%>
          <%arrow_direction = "fa-arrow-up"%>
          <%text_color = "text-success"%>
          <%end%>
        
          <span class="<%=text_color%> mr-2"><i class="<%="fa #{arrow_direction}"%>"></i> <%=steps_percent_change%>%</span>
        
          <span class="text-nowrap">Since last month</span>
        </p>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6">
    <div class="card card-stats">
      <!-- Card body -->
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h5 class="card-title text-uppercase text-muted mb-0">AVERAGE CALORIES CONSUMED PER DAY</h5>
            <span class="h2 font-weight-bold mb-0">2500</span>
          </div>
          <div class="col-auto">
            <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
              <i class="ni ni-chart-bar-32"></i>
            </div>
          </div>
        </div>
        <p class="mt-3 mb-0 text-sm">
          <span class="text-warning mr-2"><i class="fa fa-arrow-down"></i> 6.43%</span>
          <span class="text-nowrap">Since last month</span>
        </p>
      </div>
    </div>
  </div>
</div>
