
<div class="card card-profile">
  <%= image_tag "theme/img-1-1000x600.jpg", class: "card-img-top", alt: "Image placeholder" %>
  <div class="row justify-content-center">
    <div class="col-lg-3 order-lg-2">
      <div class="card-profile-image">
        <%# <a href="#"> %>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
           <%= image_tag  profile_image_url, class: 'rounded-circle' %>
        </button>
        
        <%# </a> %>
      </div>
    </div>
  </div>
  <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
    <div class="d-flex justify-content-between">
      <a href="#" class="btn btn-sm btn-info  mr-4 ">Connect</a>
      <a href="#" class="btn btn-sm btn-default float-right">Message</a>
    </div>
  </div>
  <div class="card-body pt-0">
    <div class="row">
      <div class="col">
        <div class="card-profile-stats d-flex justify-content-center">
          <%# <div>
            <span class="heading">22</span>
            <span class="description">Friends</span>
          </div>
          <div>
            <span class="heading">10</span>
            <span class="description">Photos</span>
          </div>
          <div>
            <span class="heading">89</span>
            <span class="description">Comments</span>
          </div> %>
        </div>
      </div>
    </div>
    <div class="modal fade" id="deleteAccountModal" tabindex="-1" role="dialog" aria-labelledby="deleteAccountLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete your Personicle account?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete your personicle account? <br>
        All your data will be deleted from personicle servers.
      </div>
      <%= form_with url: pages_profile_path, local: true, method: :post do  %>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" name="delete_account" value="delete" class="btn btn-danger">Delete my account</button>
        </div>
      <% end %>
    </div>
  </div>
</div>

    <div class="text-center">
      <h5 class="h3">
        <%= session[:oktastate]["info"]["name"]%><span class="font-weight-light"></span>
   
      </h5>
      <div class="h5 font-weight-300">
           <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteAccountModal">
               Delete Account
           </button>

        <%# <i class="ni location_pin mr-2"></i>Bucharest, Romania %>
      </div>
      <div class="h5 mt-4">
        <%# <i class="ni business_briefcase-24 mr-2"></i>Solution Manager - Creative Tim Officer %>
      </div>
      <div>
        <%# <i class="ni education_hat mr-2"></i>University of Computer Science %>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Profile Image</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form  id="upload-profile-image">
      <div class="modal-body">
          <div class="spinner-border text-primary" 
            id="spinner-profile-image-upload" role="status" style="margin:0 auto;display:none;">
            <span class="sr-only">Loading...</span>
          </div>
          <fieldset class="my-2">
            <input
              type="file"
              name="image"
              id="image"
              class="w-full block p-3"
              placeholder="image"
              onchange="readURL(this);"
            />
              <img id="uploadedimge" src="#" alt="your image" />
          </fieldset>
           <input
            type="hidden"
            name="individual_id"
            id="individual_id"
            class="w-full block p-3 shadow-sm"
            placeholder="Individual Id"
            value = "<%= session[:oktastate]['uid']%>"
        
           />
           <input
            type="hidden"
            name="session"
            id="session"
            class="w-full block p-3 shadow-sm"
            value = "<%= session[:oktastate]['credentials']['token']%>"
          />
      </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
 function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
            $('#uploadedimge')
                .attr('src', e.target.result)
                .width(150)
                .height(200);
        };
        reader.readAsDataURL(input.files[0]);
    }
}

async function uploadProfileImage(form,formData) {
  document.getElementById('spinner-profile-image-upload').style.display = 'block';
	const response = await fetch(
		'https://personicle-file-upload.herokuapp.com/user_images',
    // 'http://localhost:3001/user_images',
		{
			method: 'post',
      body: formData,
			headers: {
		      'Authorization': `Bearer ${form.session.value}`
			}
		}
	);
  if (response){
    document.getElementById('spinner-profile-image-upload').style.display = 'none';
  }
  // if (await response){
  //   console.log("hello")
  //   document.getElementById('spinner').style.display = 'none';
  // }
	if (!response.ok) {
		// throw new Error(`HTTP error! status: ${response.status}`);
    	const data = await response.json();
      alert(data)
      return
	}
	const data = await response.json();
  let payload= {}
  data.forEach(function(image){
    payload["image_key"] = image.image_key // payload to update user info (image_key) 
   });
 $.ajax({
      type: "POST",
      url: "/pages/profile/update_user_info",
      data : payload
    });
}
const form = document.getElementById('upload-profile-image');
form.addEventListener('submit', (e) => {
       e.preventDefault()
        const form = e.target
        const formData = new FormData()
        formData.append('user_image[individual_id]', form.individual_id.value)
        for (let i = 0; i < form.image.files.length; i++) {
          formData.append(
            'user_image[images][]',
            form.image.files[i],
            form.image.files[i].name
          )
        }
        uploadProfileImage(form,formData)
});
 document.getElementById('spinner-profile-image-upload').style.display = 'none';
</script>